div.container1
{
  height: 10em;
  position: relative;
  text-align: center;

}

div.container1 form
{
  margin: 0;
  position: absolute;
  top: 105%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

div.container1 button
{
  margin: 0;
  position: absolute;
  top: 125%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -20%)
}

ul.list-group.list-group-flush
{
  color: #ea433b;
  width: 45%;
  margin-left:auto;
  margin-right:auto;
}
